label.error { float: none; color: red; padding-left: 3px;  }

#contaGeral { width: 100%; height: 100%; }

#conta { height: 0px; width: 90%; margin: -20% 0 0; }
.clearfix > label { color: #fff; font-size: 13pt !important; }

#conta {
    position: absolute; 
    left: 550px;
    right: 0;
    height: 5px;
}

.nome {
	width: 300px !important;
}

.email {
	width: 300px !important;
}

.campo {
	width: 200px !important;
}

#erroConta { margin: -10px 0 5px 60px; height: 25px; color: red; }
#ok { margin: -10px 0 5px 60px; height: 25px; color: blue; }